.multipane {
  // display: flex;
  width: 100%;
  height: 100%;
  position: relative;

  // &.layout-h {
  //   flex-direction: column;
  // }

  // &.layout-v {
  //   flex-direction: row;
  // }
}

.multipane-paner {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.multipane-resizer {
  display: block;
  position: absolute;
  z-index: 2;
  border: 1.5px solid #e4e4e4;
  // &:hover {
  //   pointer-events: auto;
  //   border-color: #409eff;
  //   transition: all 0.3s;
  // }
  &.resizer-rotate {
    .multipane-resizer__opera {
      #三角形 {
        transform: translate(4.58333, 16) rotate(-180deg)
          translate(-4.58333, -16) !important;
      }
    }
  }
}

.layout-h > .multipane-resizer {
  width: 100%;
  height: 0;
  cursor: row-resize;
  .multipane-resizer__opera {
    transform: translate(-50%, -50%) rotateZ(90deg);
  }
}

.layout-v > .multipane-resizer {
  width: 0;
  height: 100%;
  cursor: col-resize;
}

.multipane-resizer__opera {
  position: absolute;
  z-index: 4;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  display: flex;
  width: fit-content;
  .multipane-resizer-expand--left,
  .multipane-resizer-expand--right {
    padding: 0 1px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .multipane-resizer-expand--left {
    transform: translate(calc(-50% + 5px), -50%);
  }
  .multipane-resizer-expand--right {
    transform: translate(calc(-50% - 5px), -50%);
  }
}
